@keyframes float {
    0%, 100% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
  }
  :root{
    --bgColor:rgb(36, 19, 68);
    --text-shadow:2px 2px 5px white;
    --font-color:white;
    
    
  }

  *{
    margin:0;
    padding:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
   
  }
  body>h1{
    background-color:var(--bgColor);
    color:var(--font-color);
    text-align: center;
    font-size: 3em;
    text-shadow: var(--text-shadow);
    padding:0.3em;
    
  }
  body{
    background-color: #ffffff;
  }
label{ 
    display: inline-block;
   width:100px;
   
   
}
dialog input{
    width: 150px;
    background-color:#35114bd3;
    border:transparent;
    margin:10px;
    border-radius: 15px;
    border-top: 1px solid rgb(39, 25, 196);
    border-bottom: 1px solid purple;
    border-left:1px solid purple; 
    border-right: 1px solid rgb(39, 25, 196); ;
    padding:10px;
    color:#d0d5f7;
   
}
input:focus{
    outline:none;
}

#read{
    width:20px;

}

/* label is inline element so we can not set width of a label directly 
thats why need to  give inline-block value to set the width;
*/
h6{
    display: inline-block;
    font-size: 0.8rem;
    margin: 0.3rem;
}
dialog{
    background-color:  #35114b;
    width: 300px;
    min-width: 200px;
    color:#d0d5f7;
    transition: ease 0.5s;
    animation: float 6s ease-in-out infinite;
    border-radius: 15px;
    margin:auto;
    padding:30px;
    
  
}
dialog:hover{
    transform: translateY(10px);;
}

.book-container{
    
    display: flex;
    justify-content: space-around;
    /* position: relative;
     */

}

.book-container div:nth-child(1){
    background-color:rgb(224, 208, 242);
    color:var(--bgColor);
    flex-basis: 10%;
    font-size:0.8em;
    text-shadow: var(--text-shadow);
    height: 70vh;
    min-width: 180px;
    text-align: center;
    position :sticky;
    top:0;
}
.book-container h1{
    margin: 1.2em 0.5em;
    text-align: center;
    animation: float 5s ease-in-out infinite;
    transform: translateY(20px);
    text-shadow: 2px 2px 5px #d0d5f7;
   
}
.bookInfo{
    text-align: center;
    background-color: rgb(224, 208, 242);
    /* max-height: 50%;
    max-width: 25%; */
    margin: 1em;
    padding:10px 5px;
    border-radius: 20px;
   border-top: 2px solid rgb(39, 25, 196);
    border-bottom: 2px solid purple;
    border-left:1px solid purple; 
    border-right: 1px solid rgb(39, 25, 196); 
    transition: ease 0.5s;
    height: 300px;
    width: 20%;
    min-width: 230px;  
}
.bookInfo:hover{
    transform : scale(1.05);
}

 .bookInfo h3{
    font-size: 1.7em;
    text-overflow: ellipsis;
    /* white-space: nowrap;      Prevent text from wrapping */
    overflow: hidden;         /* Hide overflowing text */
    text-overflow: ellipsis; 
    margin:5px 0;
 }
 .bookInfo p{
    margin:0.3em 0;
 }
.content-box{
    flex-basis: 80% ;
    display: flex;
    justify-content: flex-start;
     flex-wrap: wrap;
  
}
.dialogBox-buttons,.displayButtons{
   display: flex;
   justify-content: space-around;
}
.displayButtons{
    position: relative;
    bottom: -60px;

}

.open, .submit,.close,.delete,.read{
    padding: 10px 20px;
    background-color:var(--bgColor);
    font-family: monospace;
    border-radius: 10px;
    font-weight: normal;
    color:white;
    border:2px solid rgb(168, 154, 193);
 
}
.open{
    margin-left:1em;
    margin-top:1em;
    border-top: 1px solid rgb(39, 25, 196);
    border-bottom: 1px solid purple;
    border-left:1px solid purple; 
    border-right: 1px solid rgb(39, 25, 196); 
}
.open:hover, .submit:hover,.close:hover, .read:hover, .delete:hover{
    background-color: #c0b4ef;
    color:black;
    border-top: 1px solid rgb(39, 25, 196);
    border-bottom: 1px solid purple;
    border-left:1px solid purple; 
    border-right: 1px solid rgb(39, 25, 196); 

   
}
#file, #id{
    padding:5px;
    background-color: none;
    margin:1em;
    
    
}
#id::placeholder{
    text-align: center;
}

.file-container{
    margin:1em;
    display: flex;
    flex-direction: column;
   
}
input[type="url"]{
    width: 100px;
}
